.heading-box {
    padding-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    animation: topToBottom 1s ease-in-out;
}

.heading-box h1 {   
    font-size: 2.5rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #f00, #ff0, #0ff, #0f0, #00f);
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    animation: animate 20s linear 1s infinite;  
}

.form {  
   text-align: center;
   margin-bottom: 5rem;
   animation: bottomToTop 1s ease-in-out;
}

.form__input { 
    font-size: 2rem;
    padding: 1rem 2rem;
    width: 50rem;
    border-radius: 1rem;
    border: none;
    color: #605C3C;
    background-color: #FFEFBA;
}

.form__input:focus {
    outline: none;
}

.form__input::-webkit-input-placeholder{
    color: #DA4453;
}

@media(max-width: 600px) {
    .form__input {
        width: 35rem;
    }
}